
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e50f0f;
    color: #333;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0056b3;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project {
    margin: 20px 0;
    text-align: left;
}

footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    font-size: 0.8rem;
}

/* Responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
}
